html { 
  background-color: #f9e4ce;
  height: 100%;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

body {
  background-color: #f9e4ce;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  height:100vh;
}

#main {
  margin: 0 auto;
}

#wikipedia-info h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 10px;
}

article.tile {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#search-area {
  display: block;
  padding: 10% 10% 8% 10%;
}

#search-bar {
  display: block;
  width: 484px;
  margin: 0 auto;
}

#search-button {
  margin: 0 auto;
  text-align: center;
  display: block;
}

#chopCheese-logo {
  display: block;
  width: 400px;
  height: auto;
  margin: 0 auto;
}

#youtube {
  border: solid 6px #ffb7b2;
  min-height: 300px;
}

#giphy {
  border: solid 6px #ffdac1;
}

#wikipedia {
  border: solid 6px #e2f0cb;
}

#accent-color {
  border: solid 6px #b5ead7;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

#footer {
  background-color:  #f9e4ce;;
}

#wrapper {
  display: none;
}
